<!-- templates/home.html -->
{% extends '_base.html' %}

{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<h1>Homepage</h1>
    <img class="screenshot" src="{% static 'images/wtf_firefox.png' %}">

<nav>
    {% if user.is_authenticated %}
    <!-- logout url has doesn't support get method anymore. -->
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Log In</a> or
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
</nav>
<br>

{% if user.is_authenticated %}
Hi {{ user.username }}!
{% else %}
<p>You are not Logged in!</p>
<p>If new, Signup</p>
{% endif %}


{% endblock content %}